# Ignore node_modules across all subdirectories
node_modules/

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment files
.env

# Ignore build outputs
dist/
build/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore editor-specific files
.vscode/